# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
*.bak
*.orig
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.env
.env.*

# IDE & Editor
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
*.lcov
lib/generated_plugin_registrant.dart

# Android
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/
*.apk
*.aab
*.dex
*.jar
*.keystore
*.jks
.gradle/
gradlew
gradlew.bat
local.properties

# iOS
ios/**/build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flutter-plugin
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcshareddata/

# Web
web/build/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json
